.typedWrapper {
    background: linear-gradient(to left, #219b21, #dd6b20, #916142, #5f32b8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    font-weight: 600;
    font-family: cursive;
  }
  
  .typedCursor {
    font-size: 36px;
    animation: 1s blink step-end infinite;
  }
  .dark{
   color:yellow;
   padding: "20px";
   font-size: x-large;
   font-weight: bold;
  }
  .light{
    color:orange;
    padding: "20px";
    font-size: x-large;
    font-weight: bold;
  }
  .cursor{
    color: green;
    font-size: x-large;
  }.headingCursor{
    font-size: xx-large;
    color: green;
  }