#nav-menu{
    display: flex;
    flex-direction: column;
    font-size: large;
    /* height: 80px; */
    align-items: center;
    gap: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    width: 250px;
    padding-top: 30px;
    padding: 10px;
    height: 700px;
}
#st{
    text-decoration: none;
    font-size:large;
    font-weight: bold;
    scroll-behavior: smooth;
    
}